/*--------------------CSS for the menu--------------------*/
.logo-space{
    margin-bottom: 5px;
}

.menu{
    margin-bottom: 20px;
}

.navbar-nav a:hover { color: #00f2ff !important; }

.nav-item a{
        font-size: large;
        color: white;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
}
 /*--------------------CSS for the menu--------------------*/

.top-buffer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-title{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.modify-page-title{
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; 
        margin-top: 50px;
}

.center-element {
  margin: auto;
  width: 50%;
  padding-left: 5vw;
    padding-right: 5vw;
}